# Build outputs
build/
out/
*.obj
*.pdb
*.ilk
*.exe
*.exp
*.lib

# IDE
.vs/
/.vscode/
*.user
CMakeFiles/
CMakeCache.txt

# Runtime data (SQLite databases / logs created by aistudio_core_cli / tests)
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
*.log
